
@model ShoppingCart





<form method="post">

<div  class="col-lg-12 col-sm-6">
    <div class="row p-2">
        <div class="col-3 p-1">
            <div class="card border-0 p-3 shadow border-top border-5 rounded">
                <img src="@Model.Product.ImageUrl" class="card-img-top rounded"/>
            </div>
        </div>
        <div class="col-9 p-3">
            <div class="card-body">
                
                <h5>@Model.Product.Title</h5>
                <p >product number: @Model.Product.Id</p>
                <p>by @Model.Product.Director</p>
                <p>Price: @Model.Product.Price$</p>

                <p>Sypnosis: @Model.Product.Description</p>

            </div>
         
            <div>
                
                <input asp-for="@Model.Count" type="number" id="incrementAmountInput" min="1" value="1" max="5"/>
            </div>
            
            <div class="btn-group p-2 ">
             
                
                <button id="cart" class="btn btn-primary" type="submit" >Add to Cart</button>
               


            </div>
            
        </div>
     
    </div>


</div>
</form>

<script>
    let amount = 1;
    document.getElementById("incrementAmountInput").addEventListener("change", function() {
        amount = parseInt(this.value);
    });

    document.getElementById("increaseButton").addEventListener("click", function() {
        amount+= 1;
  
                  
        document.getElementById("counterSpan").innerHTML = amount; 
                         
    

    document.getElementById("decreaseButton").addEventListener("click", function() {
        
        
             amount-=1;
         
          
             document.getElementById("counterSpan").innerHTML = amount; 
         
               
    
    
    
       
    })});
</script>